.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-surface-alt);
}

.rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-panel);
  overflow: hidden;
  height: 100vh;
}
